@model Labb1Theres.Models.AbstinenceList

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AbstinenceList</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employee.EmployeeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AbstinenceType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AbstinenceType.AbstinenceName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AbstinenceStart)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AbstinenceStart)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AbstinenceEnd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AbstinenceEnd)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
